@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
}

.background {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/images/rgstr-bg.png'); 
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  z-index: -1;
}

.register-container {
  background-color: #0F291C; 
  color: #f0f0f0;
  padding: 19px 60px;
  width: 950px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.brand-logo {
  width: 200px;
  height: 50px;
}

.form-title {
  font-family: 'Poppins';
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: bold;
  margin-top: 18px;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 30px; 
  margin-bottom: 15px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
  width: 97%; 
}

.input-group label {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #d3d7d9;
  margin-bottom: 5px;
}

.input-group input {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #3F5449;
  border-radius: 23px;
  background-color: #0F291C;
  color: #fff;
}

.input-group input:focus {
  outline: none;
  border-color: #4caf50;
}

.important-info {
  font-size: 12px;
  color: #f5f5f5;
  margin: 10px 0;
}

.register-btn {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: #0F291C;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 23px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 260px;
}

.login-link {
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
  font-size: 14px;
}

.login-link a {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.terms {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #f5f5f5;
  margin-top: 15px;
  text-align: center;
}

.terms, a {
  color: #0F291C;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-logo {
    margin-right: 10px;
}
