* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icon {
    display: flex;
    margin-left: 20px;
}

.logo-icon {
    margin-top: 25px;
    margin-left: 22px;
    width: 250px;
}

.main-navbar {
    display: flex;
    justify-content: center;
    align-content: center; 
    margin: 0;
    padding: 0; 
}

.main-navbar li {
    list-style: none;
    margin: 0 20px;
    margin-top: 25px;
    font-size: 20px;
    padding-left: 5px;
    border: solid;
    width: 120px;
    height: 40px;
    border-color: transparent;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #d1d1cf;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: 0.5s ;
   
}

.main-navbar li:hover {
    background-color: #0F2A1D;
    box-shadow: 2px 2px 4px rgb(98, 98, 98);
    transition: ease-in-out .5s;
}

.main-navbar li a {
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    font-size: 20px;
    
    
}

.menu .main-navbar li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu .main-navbar li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.main-navbar .home {
    margin-left: 150px;
}

.main-navbar .home-logo {
    margin-left: 13px;
}

.main-navbar .shop-logo {
    margin-left: 17px;
}

.main-navbar .shop {
    background-color: #0F2A1D;
    box-shadow: 2px 2px 4px rgb(98, 98, 98);
}

.main-navbar .pro-logo {
    margin-left: 20px;
}

.main-navbar .aboutUs {
    border: solid;
    width: 160px;
    height: 40px;
    border-color: transparent;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.main-navbar .aboutUs-logo {
    margin-left: 10px;
}

.main-navbar li img {
    margin-left: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.cart-logo {
    margin-top: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgb(98, 98, 98);
    margin-left: 195px;
}

.user-logo {
    margin-top: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgb(98, 98, 98);
    margin-right: 50px;
    padding: 0;
}

.bg-img {
    display: flex;   
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;
    height: 360px;
    background-repeat: no-repeat;
    object-fit: cover;
}

.shop-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dadfd9;
    margin-top: 7px;
    width: 100%;
    height: 35px;
    padding: 10px 0;
}

.plants {
    border-bottom: 2.5px solid;
    border-color: #0F2A1D;
}

#shop-nav {
    display: flex;
    justify-content: center;
    align-content: center; 
    margin: 0;
    padding: 0; 
    margin-right: 90px;
    
}

#shop-nav li {
    list-style: none;
    margin: 0 20px;
    font-size: 20px;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}


#shop-nav li a {
    text-decoration: none;
    color: #0F2A1D;
    font-weight: bold;
    font-size: 20px;
}


#shop-nav li a:hover {
    border-bottom: 2.5px solid;
    border-color: #0F2A1D;
    transition: 0.1s;
}

.shop-items-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    margin: 30px auto; /* Center the grid with auto margins */
    gap: 80px; /* Space between items */
    padding: 10px;
    width: 90%; /* Ensure the grid takes full width */
    justify-items: center; /* Center the grid items */
    max-width: 3000px; /* Optional: Set a max width for better centering */
}

.item {
    text-align: center; 
    margin: 15px 0;
}

.item:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Add box shadow */
    transform: scale(1.05); /* Slightly enlarge the item */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition */
}

.item-image {
    margin-top: 10px;
    width: 50%; 
    height: auto; 
}

.item-name {
    font-size: 20px;
    color: #0F2A1D;
    margin-left: 70px;
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
}

.item-price {
    font-size: 17px;
    margin-left: 70px;
    text-align: left; 
    color: #0F2A1D;
    margin-top: 10px;
    margin-bottom: 10px;
}


